<!DOCTYPE html>
<html lang="en" ng-app="tunely">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tunely</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to tunely</h1>
        <p>Your music binder!</p>
      </div>
    </div>

    <div class="container" ng-controller="AlbumsIndexController as albumsIndexCtrl">
      <!--html inside of here can use the information from the AlbumsIndexController-->

      <!-- ADD NEW ALBUM FORM -->
      <div class="add-new-album" class="container">
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <form ng-submit="albumsIndexCtrl.createAlbum()" class="form-horizontal">
            <fieldset>
              <p>ADD NEW ALBUM</p>

              <!-- INPUT ALBUM NAME -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Album Name</label>
                <div class="col-med-4">
                  <input id="input-album-name" type="text" class="form-control" placeholder="New album name" ng-model="albumsIndexCtrl.newAlbum.name">
                </div>
              </div>
              <!-- INPUT ARTIST NAME -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Artist Name</label>
                <div class="col-med-4">
                  <input id="input-artist-name" type="text" class="form-control" placeholder="New album artist" ng-model="albumsIndexCtrl.newAlbum.artistName">
                </div>
              </div>
              <!-- INPUT RELEASE DATE -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="releaseDate">Release Date</label>
                <div class="col-med-4">
                  <input id="input-album-releaseDate" type="text" class="form-control" placeholder="Add release year" ng-model="albumsIndexCtrl.newAlbum.releaseDate">
                </div>
              </div>
              <!-- INPUT GENRE(S) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="genres">Genre(s)</label>
                <div class="col-med-4">
                  <input id="input-album-genres" type="text" class="form-control" placeholder="Add genres separated by commas" ng-model="albumsIndexCtrl.newAlbum.genres">
                </div>
              </div>
              <!-- SUBMIT BUTTON -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                  <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                </div>
              </div>
          </fieldset>
      </div>

      <!-- SEARCH BAR -->
      <div id="search-bar">
        <label>SEARCH BY ALBUM NAME<input class="form-control" ng-model="search.name" placeholder=""></label>
        <br>
        <label>SEARCH BY ARTIST NAME<input class="form-control" ng-model="search.artistName" placeholder=""></label>
      </div>

      <!-- DISPLAY ALBUMS ALPHABETICALLY BY ARTIST NAME -->
      <div ng-repeat="album in albumsIndexCtrl.albums | orderBy:'album.artistName' | filter:search:strict">
        <div class="album-row">
          <div class="col-md-9 col-xs-12">

            <ul class="list-group">
              <li class="list-group-item">
                <h4 class='inline-header'>Album Name:</h4>
                  <span class='album-name' ng-hide="editing">{{album.name}}</span>
                  <input ng-show="editing" ng-model="album.name" type="text" class="form-control input-md">
              </li>

              <li class="list-group-item">
                <h4 class='inline-header'>Artist:</h4>
                  <span class='album-name' ng-hide="editing">{{album.artistName}}</span>
                  <input ng-show="editing" ng-model="album.artistName" type="text" class="form-control input-md">
              </li>

              <li class="list-group-item">
                <h4 class='inline-header'>Release Date:</h4>
                  <span class='album-name' ng-hide="editing">{{album.releaseDate.substr(0,4)}}</span>
                  <input ng-show="editing" ng-model="album.releaseDate" type="text" class="form-control input-md">
              </li>

              <li class="list-group-item">
                <h4 class='inline-header'>Genre(s):</h4>
                  <span class='album-name' ng-hide="editing">{{album.genres.toString()}}</span>
                  <input ng-show="editing" ng-model="album.genres" type="text" class="form-control input-md">
              </li>

              <!-- DELETE BUTTON -->
              <button class='btn btn-danger' ng-click="albumsIndexCtrl.deleteAlbum(album)">Delete Album</button>
              <!-- EDIT BUTTON -->
              <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Album</button>
              <!-- SAVE CHANGES BUTTON -->
              <button class='btn btn-success' ng-show="editing" ng-click="albumsIndexCtrl.editAlbum(album); editing = false">Save Changes</button>

        </div>
      </div>
    </div>

  </body>

</html>
