.jumbotron {
  background-image: url(/images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.hidden {
  display: none;
}

.col-xs-12 {
  padding: 0;
}

.album-row {
  margin-top: 5vh;
}

#search-bar {
  margin-top: 5vh;
  display: inline-block;
}

#input-album-name {
  margin-bottom: 2vh;
}
